beautifulsoup4
bs4
python-dotenv
requests
SQLAlchemy
tqdm
wheel~=0.37.1
flask
alchemical
faker
flask-cors
flask-httpauth
flask-mail
flask-marshmallow
flask-migrate
gunicorn
marshmallow-sqlalchemy
pyjwt
flask-restplus
superset-api-client