bs4
SQLAlchemy
wheel~=0.37.1
faker
flask-cors
flask-httpauth
flask-mail
flask-marshmallow
flask-migrate
gunicorn
marshmallow-sqlalchemy
flask-restplus
superset-api-client
beautifulsoup4~=4.11.1
python-dotenv~=0.20.0
psycopg2-binary==2.9.3
fake-headers
python-dateutil
requests==2.28.1
html5lib
tqdm~=4.64.0
flask
alchemical
werkzeug~=2.0.3
pyjwt~=2.4.0
marshmallow~=3.12.2
sqlalchemy_utils
impacket
poetry-core